h2 {
}

a {
	text-decoration: inherit;
	color: inherit;
}

.description {
  color : gray;
  font-weight : normal;
  font-size: 5vw;
}
@media (min-width: 550px){
.description {
  font-size : 2.5rem;
}
  .description>div {
    display : inline-block;
    vertical-align: top;
    width : 100%;
  }
}
.navbar-list {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}
.navbar-item {
  display: inherit;
  float: left;
}
.navbar-link {
  display: inherit;
  margin-right: 35px;
}

